table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 2px solid #dddddd;
  font-size: 13px;
  text-align: left;
  padding: 8px;
  color: black;

}

tr:nth-child(even) {
  background-color: #dddddd;
}

img{
  width: 400px;
  heigth: 400px;
}

.thumbnail:hover {
  position:relative;
  width:450px;
  height:auto;
  display:block;
  z-index:999;
}
.boxed {

  border: 3px black;
  padding: 30px;
  background-clip: content-box;
  background: white;
}

.mycell {
  max-width: 20px;
}
