
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<html>

<div class="container" >
<div class="card ; center" style="width: 85rem; border: 5px solid darkseagreen " *ngFor="let restaurant of restaurants | paginate : {itemsPerPage: 5 , currentPage: p }" >
  <img class="card-img-top" [src]="getImage(restaurant.picByte)" alt="Card image cap">
  <div class="list-group list-group-flush">
    <h5 class="card-title ; center">{{restaurant.restaurantName}}</h5>
    <p class="card-text; center">{{restaurant.restaurantAddress}}</p>
    <iframe class="center" width="450" height="250" frameborder="0" style="border:0"
             [src]="this.sanitizer.bypassSecurityTrustResourceUrl(trustedUrl + restaurant.restaurantAddress)"  allowfullscreen> </iframe>
    <a class="btn btn-primary ; center" (click)="onClick(restaurant)" >Go to restaurant</a>

  </div>

</div>
<pagination-controls class="myPagination ; center" (pageChange)="p = $event">
</pagination-controls>
</div>

</html>
