<video src="./assets/video/romania.webm" autoplay loop ></video>
<header class="viewport-header">
  <h1>
    Explore
    <span>Romania</span>
  </h1>
</header>

<main>

  <h1>Why visit Romania?</h1>

  <h2>It’s home to breathtaking nature</h2>
  <p>Due to its varied landscape, Romania is the most biogeographically diverse country in the European Union. With snow-capped mountains, green hills covered in forests and vineyards, sandy Black Sea beaches and Europe’s largest and best-preserved delta, Romania has something for everyone.</p>

  <h2>The wildlife is spectacular</h2>
  <p>Romania is one of the best places in Europe to go wildlife watching. Home to the largest population of brown bears in the EU, its forests are also a prime habitat for lynx, wolves, deer, chamois, badgers and more. The Danube Delta – the ultimate birdwatcher’s paradise – and the bison reservations are a must-visit for any wildlife lover.</p>

  <h2>Hiking here is a point of pride</h2>
  <p>There’s no better way to discover the Carpathian mountains than through hikes. Regardless of whether you choose a beginners’ walk on the saddle of the mountain or an advanced hike, you will enter a wild space so vast that you’ll see nature in a whole new light.</p>

  <h2>Natural wonders are par for the course</h2>
  <p>Romania is home to Scărișoara Glacier, Europe’s second biggest underground glacier, the Berca mud volcanoes, Bigăr waterfall, one of the most beautiful waterfalls on the continent, the living fires of Buzău and Turda salt mine, home to the only underground amusement park in the world.</p>

  <h2>History is everywhere</h2>
  <p>Romania has been inhabited since prehistoric times – the 34,950-year-old human remains found in Caraș-Severin in 2002 are among the oldest ever found in Europe. In modern times, the country’s history was shaped by major ideologies and conflicts that swept through Europe, leaving behind a unique mix of collective experiences and values.</p>

  <h2>There’s some seriously stunning architecture</h2>
  <p>Romania is full of architectural treasures. In particular, Bucharest offers an unusual and sometimes uneasy mix of styles that combines the charming and almost organic shapes of 19th century architecture with the rigid lines of the Stalinist architecture.</p>

  <h2>The food is mouth-watering</h2>
  <p>Romanian cuisine is built around hearty, high calorie dishes designed to be the ultimate comfort food. With a strong focus on taste and quality of ingredients, it will win you over with its unfussy, unmistakably homemade feel.</p>

  <h2>There are thrilling festivals aplenty</h2>
  <p>Festivals are the liveliest and most exciting side of Romanian culture. From local festivals that gather the whole village in celebration of a local flower or fruit, to electronic music and music festivals and week-long classical music celebrations, Romania will surprise you with the variety of its culture.</p>

  <button style="position: relative" type="button"  class=" btn-danger-dropdown; mat-button; btn-lg" aria-controls="dropdown-nested" >
     <a style="color: gray; font-size: 25px" routerLink="" class="nav-link" routerLinkActive="active">Back</a>
  </button>
</main>

<footer>

</footer>
